$logoFont: 'Fresca', sans-serif;

$logoweight: bold;

$logoColorFooter: #c0c3ce;;

$bgHeaderImage: url(../img/m-h-night.jpg);

$bgColor: #21232e;

$themeTextColor: #fff;

$buttonColor: #e3ac00;

$wordMarked: #ff4e33;

$sectionBg: #3b3f50;

$bannerHeadingColor: #fff;

$bannerGradient: linear-gradient(90deg, rgba(220,161,8,1) 0%, rgba(151,51,79,1) 100%);
