$logoFont: 'Source Sans Pro', sans-serif;

$logoweight: normal;

$logoColorFooter:#c0c3ce;;

$bgHeaderImage: url(../img/m-h-day.jpg);

$bgColor: #fff;

$themeTextColor: #2c2f3c;

$buttonColor: #699900;

$wordMarked: #14a0c7;

$sectionBg: #21232e;

$bannerHeadingColor: #2c2f3c;

$bannerGradient: linear-gradient(90deg, rgba(100,148,18,1) 0%, rgba(48,94,207,1) 100%);