 ul {
    list-style-type: none;
}
.folder:hover, .file:hover {
	background-color: #DDD;
}
.material-icons {
    vertical-align: bottom;
}
.folder_empty {
    font-style: italic;
}
.folder i {
    color: #EABC0A;
}
.file i {
    color: #BBB;
}
.folder, .folder_empty, .file {
    cursor: pointer;
}
.closed {
    display: none;
}
.opened {
    display: block;
}